@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono:wght@700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Ubuntu Mono', monospace;
}
body{
  margin: 0;
  padding: 0;
  background: linear-gradient(120deg,#181818, #180127);
  height: 100vh;
  overflow: hidden;
}
.center{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  background: rgb(43, 41, 41);
  border-radius: 10px;
  box-shadow: 10px 10px 15px rgba(95, 94, 94, 0.05);
}
.center h1{
  text-align: center;
  color: #fff;
  padding: 20px 0;
  border-bottom: 1px solid silver;
}
.center form{
  padding: 0 40px;
  box-sizing: border-box;
}
form .txt_field{
  position: relative;
  border-bottom: 2px solid #adadad;
  margin: 30px 0;
}
.txt_field input{
  width: 100%;
  padding: 0 5px;
  height: 40px;
  font-size: 20px;
  border: none;
  color: #fff;
  background: none;
  outline: none;
}
.reset input{
  background: none;
  border: none;
  color: rgb(221, 236, 1);
  text-decoration: none;
  position: center;
  font-size: 18px;
  padding-bottom: 8px;
}

.txt_field label{
  position: absolute;
  top: 50%;
  left: 5px;
  color: #ffffff;
  text-transform: uppercase;
  transform: translateY(-50%);
  padding-bottom: 3px;
  font-size: 16px;
  /* pointer-events: none; */
}
.txt_field span::before{
  content: '';
  position: absolute;
  top: 40px;
  left: 0;
  width: 0%;
  height: 2px;
  background: #2691d9;
  transition: .5s;
}
.txt_field input:focus ~ label,
.txt_field input:valid ~ label{
  top: -5px;
  color: #2691d9;
}
.txt_field input:focus ~ span::before,
.txt_field input:valid ~ span::before{
  width: 100%;
}
input[type="button"]{
  width: 100%;
  height: 50px;
  border: 1px solid;
  background: #2691d9;
  border-radius: 25px;
  font-size: 25px;
  text-transform: uppercase;
  color: #000000;
  font-weight: 700;
  cursor: pointer;
  outline: none;
}
input[type="button"]:hover{
  border-color: #2691d9;
  transition: .5s;
}
.copyright{
  margin: 5px 0;
  margin-bottom: 10px;
  text-align: center;
  font-size: 16px;
  color: #f1f1f1;
}
.copyright a{
  color: #2691d9;
  text-decoration: none;
}
#wordlist{
  color: coral;
  border: rgb(255, 255, 255) 2px solid;
  border-radius: 4px;
  margin: 10px;
  padding: 3%;
  height: 200px;
  overflow: auto;
}
.copylink{
  /* margin: 5px; */
  /* padding: 5px; */
  background: none;
  border: none;
  color: rgb(170, 56, 65);
}